.product {
    height: 70%;
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    gap: 0.8rem;
}

.img-container {
    width: 100%;
    height: 70%;
    max-height: 70%;
    padding: 5px 0;
}

.img-container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.product .info {
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-left: 10px;
    padding-top: 0px;
}

.product .info span {
    font-weight: bold;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.product button {
    height: 10%;
    width: 100%;
    background-color: black;
    color: #fff;
    outline: none;
    border: none;
    font-weight: bold;
}